
  
   

body {
    color:rgb(68, 55, 152);
    margin: 80px;
  }
 .principal { 
     padding: 20px;
     border: 1px solid #010167;
     margin-top: 22px;
     box-sizing: border-box;
     display: block;
     text-align: center;
     font-size: 28pt;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }
 
  .logotipo{ 
    display:flex;
    margin-left: 12px;
    float: left;
    position: relative;
    top: 160px;
  }
  .pic {
    float: left;
    position: relative;
    top: 360px;
    right: 200px;
    vertical-align: text-top;
  }
  

  nav{ 
     margin-left: 10pt;
     padding: 0;
     align-items: center;
  }

  ul {
        list-style-type: none;
        margin-left: 10pt;
        padding: 0;
        overflow:visible;
        background-color: lightslategray;
  }
        li {
            position: relative;
            display: inline-block;

          }
          
          li a {
            display: block;
            background-color: lightslategray;
            font-family:  'Lucida Sans';
            font-size: 18pt;
            Color: black;
            padding: 20px;
          
            
          }
          
    main{
      position: relative;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 16pt;
      padding: 10px;
      border-radius: 0;
      margin-top: 15px;
    }
  
       dl{
        padding:0.5em;
        height: 350px;
        width: 35%;

       }
       .dates{
        clear: both;
        font-weight: bold;
        color: darkblue;
        /* display: inline-flex; */
        /* flex-direction: column; */
        /* justify-content: space-around; */
        display: flex;
        position: relative;
        left: 260px;
        width: 240px;
        text-align: left;
    }
          dd{
            padding: 0 0 0.5em 0;
            line-height: 1;
            margin: 20px;
            text-align-last: center;
            left:300px;
            position: relative;
          }
 
 /*       dl{     
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  word-break: break-word;
}

dt {
  width: 50%;
  text-align: right;
}

dt:after {
  content: ":";
}

dd {
  box-sizing: border-box;
  width: 50%;
  padding-left: 1rem;
}
*/